body{
  margin:0;
  padding:0;
   font-family:'Space Mono', monospace;
  color:rgb(54, 51, 51);
  overflow-x: hidden;
  background-color: rgb(28, 27, 27);
  
}

.mark{
  background-color:rgb(231, 177, 43) ;
  font-size: 12px;
}


/* header banner */

.headerbanner{
  display:flex;
  font-size:14px;
  padding:0px;
 box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  height:60px;
   box-shadow: 0 4px  11px rgb(214, 178, 88,0.4); /* orange glow */
}


.headerbanner h2{
  color:rgb(214, 178, 88);
  margin: auto;

}
.headerbanner ul{

  display:flex;
  color:rgb(163, 159, 159);
  list-style: none;
gap:40px;
font-size:14px;
margin: auto;


}
.headerbanner li {
  position: relative;
  cursor: pointer;
}

.headerbanner li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: rgb(214, 178, 88);
  transition: 0.3s;
}

.headerbanner li:hover::after {
  width: 100%;
}




/* conference */
.conference{
  display:flex;
  padding:20px;

}

.conference-details{
  width:50%;
  color:rgb(237, 231, 231);
  font-size:23px;
  font-weight:2000px;
}

.conference-details i{
  color:rgb(214, 178, 88);
  
}
.conference-details b{
  font-size: 20px;

}
.conference-details p{
  font-size: 15px;
}
.lines{
  display:flex;
}
.line{
  height:30px;
  color:rgb(214, 178, 88);
  border: solid 2px;
  margin-top: 5px;
}
.hybrid{
  background-color:rgba(112, 86, 20, 0.5) ;
  border:solid rgb(150, 114, 48) 1px;
  border-radius: 50px;
  padding:10px;
  text-align: center;
  width:60%;
  margin-left:80px;
}

video{
  width:400px;
  margin-left:30%;
  margin-top: 30%;
  height:228px;
  border-radius: 20px;
  border:solid orange 2px;
  

}



.dateloc{
  display:flex;
  gap:20px;
}

.date{
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(245, 238, 238,0.1);
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.location{
  background-color: rgb(245, 238, 238,0.1);
  border-radius: 10px;
  padding:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.date:hover,.location:hover {
  animation: bounce 1.5s ease;
}

@keyframes bounce {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.last{
  display: flex;
  width:100%
}
.last b{
  color:white;
}

/* welcome div */

.welcome-head{
  font-size:50px;
  color: aliceblue;
  margin: 0px;
}
.welcome-head i{color:rgb(214, 178, 88) ;}
.Welcome {
  display:flex;
  

}
.welcome-para{
  width: 160%;
  height: 280px;
  font-size: large;
  color: rgb(157, 160, 162);
  padding:10px;
  line-height: 1.5;
}

.welcome-para b{
  color:rgb(214, 178, 88);
}

.welcome-side{
  border:solid rgb(120, 104, 66) 1px;
  border-radius: 20px;
  background:rgb(21, 21, 32);
  color:rgb(209, 205, 205);
  margin: 10px;
  
 }
 .welcome-side p{
  padding:20px;
  line-height: 1.5;
  font-size: 15px;

 }
 .side-in{
  background-color:rgba(245, 182, 23, 0.4)  ;
  margin:0px 30px;
  border-radius: 20px;
 padding: 2px;

 }
 .side-in p{
  padding: 0px;
  margin: 5px;
 }
 .logo {
 
  margin-left: 50px;
    display: inline-flex;

 }
 .logo img{
  width:70px;
  margin:5px;
  
 }
 
/* Theme */
.conference-head{
  color: rgb(214, 178, 88);
  margin-top:70pxpx;
  font-size: 20px;
}
 .conference-theme{
  display:flex;
  padding:15px;
  margin-top: 90px;;
 }
 .conference-theme-content{
  width:60%;
  font-size:18px ;
  color:rgb(157, 160, 162);
  padding:30px;
 }
 .conference-theme-content h2{
  color:aliceblue;
    font-size: 50px;
    margin:0;
    letter-spacing: -3px;
  
 }
 .conference-theme-content p{
    line-height: 1.8;
 }
 .conference-theme-content h2 b{
  color:rgb(214, 178, 88);

;
 }

 .conference-theme-side{
  margin-top: 8%;
  display: flex;
  flex-wrap: wrap;
  color:rgb(157, 160, 162);
 }

 .theme-content h5,.theme-content1 h5{
  color:rgb(190, 141, 34);
  margin:10px;
  
 }
 .theme-content p,.theme-content1 p{
  margin:0;
  font-size: 13px;


 }

/* theme */
.theme{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  padding:10px;

}


.conference-theme-side img{
  width:10px;
  height:10px;
  padding:15px;
  background-color:rgb(190, 141, 34);
  border-radius: 5px;
  
}


.theme-content1{
   width:80%;
  height:150px;
  background-color: rgb(104, 101, 101,0.5);
  padding:10px;
 border: solid rgb(179, 176, 176) 1px;
 border-radius: 20px;
  padding-left:25px ;
  margin: 20px;
    line-height: 1.3;

}


.theme-content{
  width:35%;
  height:150px;
  background-color: rgb(104, 101, 101,0.5);
  padding:10px;
 border: solid rgb(179, 176, 176) 1px;
 border-radius: 20px;
  padding-left:25px ;
  margin: 20px;
    line-height: 1.3;


}
.conference-theme-side img{
  background-color:rgba(216, 206, 206, 0.5) ;
}
.theme-content:hover{
  background-color:rgb(190, 141, 34,0.4);
  color:white
}


.theme-content1:hover{
  background-color: rgb(190, 141, 34,0.4);
  color:white;
}




/* key hightlight */
.key-head{
  letter-spacing: -3px;
  color:rgb(209, 205, 205);
  font-size: 50px;
  
}
.key-head i{
  color:rgb(214, 178, 88);
}
.key-highlight{
  line-height: 1.3;
  display:flex;
  flex-wrap: wrap;


}
.key-right{
  width: 20%;
  padding: 10px 20px;
  border: solid rgb(234, 225, 225) 1px;
  margin:0px 20px 20px 0px;
border-radius: 20px;
   color:rgb(157, 160, 162);

}
.key-right h3,p{
  margin:10px
}
.key-right h3{
  color:white;
  font-size:15px;
}
.key-right p{
  font-size:14px ;
}
.key-right img{
  width:20px;
  height:20px;
  background-color:rgba(239, 165, 4, 0.849);
  border-radius: 10px;
  padding:10px;
  
}
.key-right:hover{
  border:solid rgba(239, 165, 4, 0.849);
  border-width: 1px 3px;
}






/* session */
.session-head{
  color:rgb(223, 217, 217);
  font-size:60px;
  letter-spacing: -4px;
  margin: 0;

}
.session-head i{
  color:rgb(214, 178, 88);
}

.sessions{
  display: flex;
  flex-wrap: wrap;
  gap:25px;
}

.session{
  width:30%;
  height:270px;
  background:white;
  overflow: hidden;
  margin-left: 10px;


}
.sessions img{
  width: 30%;
  margin:10px;
  height:250px;
  border-radius:20px;
  opacity: 1;
  object-fit: cover;


}



/* submission */

.submission{
  display:flex;
  gap:40px;
  text-align: center;
}
.sub-container{
  background-color: rgb(18, 18, 40,0.3);
  border:solid rgb(214, 178, 88) 1px ;
  border-radius: 10px;
  width:20%;
  margin-left: 20px;
  padding:30px 0px;

}
.sub-container h1{
  padding:5px 50px;
  color:rgb(214, 178, 88);
  font-size: 50px;
  font-weight: 1000px;
  margin: 0px;;
  margin-left: 20px;
}
.sub-container h4{
  color:rgb(165, 169, 176);
  margin: 0px;
  padding: 0px;
}

.sub-container p{
  color:aliceblue;
}
.btn{
  width:100px;
  border:none;
  border-radius: 20px;
  padding:5px;
  background-color: rgb(183, 186, 188,0.2);
  color:rgb(165, 169, 176);
  font-size:small;
 
}
.btn1{
  background-color: rgb(214, 178, 88,0.3);
   width:100px;
  border:none;
  border-radius: 20px;
  padding:5px;
   color:rgb(214, 178, 88);
   font-size:small;
}
.sub-container:hover{
  background-color:rgba(114, 100, 65, 0.1) ;
}
.sub-detail{
  text-align: center;
  color:rgb(165, 169, 176);
  padding: 20px;

}
.sub-detail button{
  background: linear-gradient(to right ,rgb(214, 178, 88),rgb(159, 134, 76));
  padding:15px;
  margin: 10px;
  width:270px;
  border-radius :10px;
  border: none;

}

/* join */

.join{
  padding: 40px;
 background:rgb(24, 24, 34);
  color:white;
  
}
.join h5{
  color:rgb(214, 178, 88);
  margin: 5px;
}
.join p{
  padding:10x 100px;
  line-height: 1.6;
  font-size: 18px;
  color:rgb(165, 169, 176);
}
.join h1{
  font-size: 50px;
}
.join i{
  color:rgb(214, 178, 88);
}
.join-cont{
  display: flex;
  flex-wrap: wrap;
  gap:10px

}
.join-box{
  width:20%;
  padding: 10px;
  margin:10px;
  background-color: rgba(164, 160, 160, 0.1) ;
  border-radius: 10px;
}
.join-box img{
  width:30px;
  margin:10px;
  padding:10px;
  border-radius: 10px;
  background-color: rgb(227, 224, 224,0.4) ;

}
.join-box p{
  font-size: 13px;
  margin: 10px;
  text-align: start;
}
.join-box:hover{
  border:solid rgb(214, 178, 88 ) 1px ;
}
/* proceed */

.proceed{
  display: flex;
  margin:50px 100px;
  padding:60px 20px;
  background: rgb(32, 32, 48);
  color:white;
  border-radius: 10px;
  border:solid rgb(214, 178, 88 ,0.5) 1px ;
}
.proceed-head{
  font-size: 50px;
  color:white;
}
.proceed-head i{
  color:rgb(214, 178, 88 );
}
.proceed p{
 font-size: 14px;
 margin-top: 15px;
 line-height: 1.5;


}
.last-logo{
  display:flex;
   justify-content: center;
   width:130%
}
.last-logo img{
  width:100px;
  height:50px;
  padding:20px;
 
}
.proceed b{
  font-size: 14px;
  color:rgb(214, 178, 88 );
}
.line2{
  background-color:rgb(214, 178, 88 ) ;
  height:70px;
  width:10px;
  margin-top: 10px;
  margin:10px ;
}

/* footer */
.footer{
background-color: black;
 color:rgb(146, 143, 143);
 padding-top:80px;
 border-top:solid rgb(214, 178, 88 ) 1px ;
  
}
.foot{
   display: flex;
   
}
.foot h4,.foot b{
  color:rgb(214, 178, 88 );
}
.foot ul{
  padding: 0px;
}
.foot li{
  list-style:none;
  font-size: 16px;
  

}

.foot-1{
  margin:0px 50px;
  width:40%
}
.foot-1 img{
  width:100px;
  height:100px;
  background-color: white;
  margin: 20px 10px 0px 50px ;
  padding: 10px;
  border-radius: 60%;
}
.foot-1 p,.foot-1 h4{
  margin-bottom:10px
  
}
.foot-2 li{
  margin:10px;
  width:200px
}
.foot-4 b ,.foot-2 b {
  padding: 10px;
  
}
.foot-3{
  width:220px;
  border:solid black 1px;
  background:rgb(18, 18, 24) ;
  border-radius: 10px;
  margin:10px;
  font-size: smaller;
}
.foot-3 h4,.foot-3 p{
  margin:0px;
  padding: 5px 20px;
}
.foot-3 h4{
  color:white;
}
.foot-3:hover{
  box-shadow: 0 4px 8px 0 rgba(107, 107, 78, 0.2), 0 6px 20px 0 rgba(183, 183, 36, 0.19);;

}
.copy{
  text-align: center;
  font-size:smaller;
  color:rgb(158, 151, 151);
  padding: 20px 0px 20px 0px;
}

.copy hr{
  border: none;
  height: 0.1px;
  background-color: rgb(128, 122, 122);
  margin:0px 200px;
}


@media  (max-width:768px){
  body{
    width:100%;

  }
  .mark{
    font-size: 10px;
    padding: 5px;
  }
  .heads{
    display:none;
  }
  .headerbanner{
    width:100%
  }
  .video{
    width:50%;
  }
  .headerbanner button{
    display: block;
  }
  .headerbanner ul{
    display: none;
  }
  .toggle{
    font-size:large;
    background-color:rgb(244, 242, 242);
    padding: 20px;
    width:50%;
    margin-left: 50%;
    text-align: start;

  }
  .toggle button{
    display: flex;
    margin-left: 80%;
  }
  
  
  .conference{
    display:block;
  }

  .conference-details{
    width:100%;
  }
  .logo{
    display: flex;
    flex-wrap: wrap;
  }
  .welcome-head{
    font-size: 30px;
  }
  .Welcome{
    display:block;

  }
  .welcome-para{
    width:100%;
    margin-bottom: 200px;;
  }
 .welcome-side{
  width:70%;
  margin:auto
  
 }
 .conference-theme{
  display:block;
  
 }
 .conference-theme-content{
  width:100%
 }
 .conference-theme-side{
  display: flex;
  width:90%
 }
 .theme-div,.theme-div1{
  width:80%;
  margin:auto;
 }
 .session-head{
  font-size: 35px;
 }
 .emp1{
  height:179px
 }
 .sessions img{
  width:300%;
  margin:20px;
 }
 .submission{
  display: block;
 }
 .sub-container{
  width:80%;
  margin: auto;
  margin-bottom: 20px;
 }
 .dot{
  display: none;
 }
 .sub-detail{
  width:80%;
  line-height: 1.5;
 }
 .join-box{
  width:100%;
 }
 .proceed{
  display: block;
  width:88%;
  margin: 10px ;
 }
 .last-logo{
  padding:0px;
  width:80%;
  margin-left: 10%;
 }
 .line2{
  width:90%;
  height:2px;
  margin-left: 5%;
 }
 .proceed p{
  margin-left: 40px;
 }
 
   .foot{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* Row 1 */
  .foot-1{
    width:100%;
    text-align:center;
    margin-bottom:20px;
  }

  /* Row 2 */
  .foot-2,
  .foot-4{
    width:30%;
    text-align:center;
  }
  .foot-3{
    margin:0;
    width:100%;
  }
  .copy{
    width:100%;
  }
  .copy hr{
    width:80%;
    margin-left: 60px;
  }
  
  
@media (max-width:480px){
 
  body{
    overflow-x: hidden;
    width:100%
  }
  
  .headerbanner{
    width:98%;
  }
  .headerbanner button{
    margin-left: 30%;
  }
  .conference{
    width:92%;
  }
  .video{
    width:100%
  }
  video{
    width: 100%;
    margin: 0;
    height:100%
  }
  .welcome-para{
    padding:0px;
    
  }
  .welcome-side{
    margin-top:100%;
  }
  .theme-div{
    width:100%;
  }
  .theme-div1{
    width: 100%;
  }
  .theme-content {
    padding:5px;
    
  }
  .theme-content p{
    width:100%;
    
  }
  .theme-div1 img{
    margin-top: 20px;

  }
  .empty{
    margin:10px  0px;
  }
  .emp{
    height:251px;
  }
  .emp1{
    height:271px;
  }
  .key-right{
    padding: 0px;
    height:250px;
    
  }
  .key-left{
    height:230px;
  }
  .key-right p{
    width:100%;

  }
  .right{
    padding:5px
  }
  .session{
    width:100%;
    margin:5px;
    
  }
  .sessions{
    width:100%;
    margin:0

  }
  
  
  .proceed{
    width:82%
  }
  .proceed img{
    width:25%;
  }
  .foot-2{
    width:100%;
    margin-left: 20%;

  }
  .foot-4{
    width:100%
}
.dateloc{
  display: block;
}
.footer{
  width:103%;
}
.foot-3{
  width:80%;
  margin-left:40px;
}
.copy hr{
  margin-left: 40px;
}

 

}
}